<p id="notice"><%= notice %></p>
<h1>Ata de Defesa</h1>

<div typeof="ugw:AtaDefesa" about=<%=ata_defesa_path(@ata_defesa)%> >

<p>
  <strong>Data de Apresentação:</strong>
  <%= rdfa_ugw_dataapresentacao @ata_defesa.data %>
</p>

<p resource=<%=ata_defesa_path(@ata_defesa)%> property="ugw:temAtaDefesa"  about=<%=tcc_path(@ata_defesa.banca.tcc)%>>

  <strong>Titulo do TCC:</strong>
  <%= rdfa_title @ata_defesa.banca.tcc.titulo %>
<br/>
  <strong>Nota do TCC:</strong>
  <%= rdfa_dbo_grades @ata_defesa.banca.tcc.nota %>
</p>
<p>
  <strong>Status: </strong>
  <%= @ata_defesa.banca.tcc.status %>
</p>



<%= link_to 'Voltar', ata_defesas_path %> |
<%= link_to 'Atualizar', edit_ata_defesa_path(@ata_defesa) %> |
<%= rdfa_link_to_dbo_fileurl 'Visualizar arquivo ata defesa', @ata_defesa.arquivo.url %>
</div>
