<%= form_for(tcc) do |f| %>
  <% if tcc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tcc.errors.count, "error") %> prohibited this tcc from being saved:</h2>

      <ul>
      <% tcc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if ! alert.blank? %>
      <div>
        <strong style="color:red">Erro! <%= alert %> </strong>
      </div>
  <% end %>


<div class="form-group row">
  <div class="col-md-4">
    <div class="field">
      <%= f.label :arquivo %>
      <small style="color: red"> (Só serão permitidos arquivos pdf's)</small>
      <%= f.file_field :arquivo , :class => 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :titulo %>
      <%= f.text_field :titulo , :class => 'form-control'  %>
    </div>

    <div class="field">
      <%= f.label :periodo %>
      <%= f.text_field :periodo , :class => 'form-control'  %>
    </div>


    <%= f.label "Tipo:" %>
    <%= f.select(:tipos, options_for_select(Tcc.tipos.keys), {}, { :class => 'form-control'} ) %>

    <div class="form-group">
    <%= f.label :palavras_chaves, class: "control-label" %>
    <% tcc.palavras.each do |palavra| %>
      <p>
        <input type="text" name="palavras[]" value="<%= palavra.nome %>">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </p>
    <% end %>
    <p><a href="" id="add_palavras">Adicionar Palavra-Chave</a></p>
  </div>

    <br>
    <span>Tcc agendado:</span>
    <label>Sim <%= radio_button_tag 'agendadotrue', true %></label>
    <label>Não <%= radio_button_tag 'agendadofalse', false %></label>

    <div class="actions">
      <%= f.submit "Salvar" , :class => 'btn btn-success'  %>
    </div>
  </div>
</div>
<% end %>
