<%= form_for(tcc) do |f| %>
  <% if tcc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tcc.errors.count, "error") %> prohibited this tcc from being saved:</h2>

      <ul>
      <% tcc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if ! alert.blank? %>
      <div>
        <strong style="color:red">Erro! <%= alert %> </strong>
      </div>
  <% end %>


  <div class="field">
    <%= f.label :arquivo %>
    <%= f.file_field :arquivo %><strong style="color: red"> (Só serão permitidos arquivos pdf's)</strong>
  </div>

  <div class="field">
    <%= f.label :titulo %>
    <%= f.text_field :titulo %>
  </div>

  <div class="field">
    <%= f.label :periodo %>
    <%= f.text_field :periodo %>
  </div>


  <%= f.label "Tipo:" %>
  <%= f.select :tipos, options_for_select(Tcc.tipos.keys) %>

  <%= f.label "palavras-chave" %>
  <%= text_field_tag "palavras[]","",:id =>'palavra1', :class => "class" %>
  <%= f.label "palavras-chave" %>
  <%= text_field_tag "palavras[]","",:id =>'palavra2', :class => "class" %>
  <%= f.label "palavras-chave" %>
  <%= text_field_tag "palavras[]","",:id =>'palavra3', :class => "class" %>
  <br>
  <span>Tcc agendado:</span>
  <span>Sim</span><%= radio_button_tag 'agendadotrue', true %>
  <span>Não</span><%= radio_button_tag 'agendadofalse', false %>


  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
