<%= form_for(tcc) do |f| %>
  <% if tcc.errors.any? %>
    <div class="alert alert-danger alert-dismissible" id="error_explanation" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2><%= pluralize(tcc.errors.count, "error") %> prohibited this tcc from being saved:</h2>
      <ul>
        <% tcc.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if ! alert.blank? %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong style="color:red">Erro! <%= alert %> </strong>
      </div>
  <% end %>
  
  <div class="panel-body" style="padding: .5em 3em">
    <div class="form-group row">
      
      <div class="form-group col-xs-6">
        <%= f.label :titulo %>
        <%= f.text_field :titulo, class: 'form-control'  %>
      </div>

      <div class="form-group col-xs-6">
        <%= f.label :periodo %>
        <%= f.text_field :periodo, class: 'form-control' %>
      </div>

    </div>
    <div class="form-group row">

      <div class="form-group col-xs-6">
        <%= f.label "Tipo" %>
        <%= f.select(:tipos, options_for_select(Tcc.tipos.keys), {}, { :class => 'form-control'} ) %>
      </div>

      <div class="form-group col-xs-6">
        <%= f.label "Tcc agendado" %><br/>
        <div class="btn-group" data-toggle="buttons">

          <% if :agendad == true %>
            <label class="btn btn-info active">
          <% else %>
            <label class="btn btn-info">
          <% end %>
              <span>Sim</span><%= radio_button_tag 'agendadotrue', true %>
            </label>

          <% if :agendad == false %>
            <label class="btn btn-default">
          <% else %>
            <label class="btn btn-default active">
          <% end %>
              <span>N찾o</span><%= radio_button_tag 'agendadofalse', false %>
            </label>

        </div>
      </div>

    </div>
    <div class="form-group row">

      <div class="form-group col-xs-4">
        <%= f.label "palavras-chave" %>
        <%= text_field_tag "palavras[]","",:id =>'palavra1', :class => "class form-control" %>
      </div>
      <div class="form-group col-xs-4">
        <%= f.label "palavras-chave" %>
        <%= text_field_tag "palavras[]","",:id =>'palavra2', :class => "class form-control" %>
      </div>
      <div class="form-group col-xs-4">
        <%= f.label "palavras-chave" %>
        <%= text_field_tag "palavras[]","",:id =>'palavra3', :class => "class form-control" %>
      </div>

    </div>
    <div class="form-group row">

      <div class="form-group col-xs-12">
        <%= f.label :arquivo %>
        <%= f.file_field :arquivo, class: "btn btn-block btn-default" %><p class="help-block"> S처 ser찾o permitidos arquivos com extens찾o .pdf</p>
      </div>

    </div>
  </div>
  
  <div class="form-group row" style="margin-bottom: -5em;">
    <div class="form-group col-xs-12">
      <%= f.submit "Salvar", class: "btn btn-default col-xs-2", style:"float:right;margin-left:1em" %>
    </div>
  </div>
      
<% end %>