<p id="notice"><%= notice %></p>
<% if ! alert.blank? %>
    <div>
      <strong style="color:red">Erro! <%= alert %> </strong>
    </div>
<% end %>
<h1>Tccs
<%= link_to 'Criar Tcc', new_tcc_path, :class => "btn btn-sm btn-success pull-right" %>
</h1>

<table id="tccs"  class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Periodo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tccs.each do |tcc| %>
      <tr>
        <td ><%= tcc.titulo %></td>
        <td ><%= tcc.periodo %></td>
        <td>
          <div class="btn-group pull-right">
            <%= link_to 'Expandir', tcc, :class => "btn btn-sm btn-primary" %>
            <%= link_to 'Editar', edit_tcc_path(tcc), :class => "btn btn-sm btn-primary" %>
            <%= link_to 'Apagar', tcc, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, :class => "btn btn-sm btn-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
