<p id="notice"><%= notice %></p>

<h1>Tccs</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Periodo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tccs.each do |tcc| %>
      <tr>
        <td><%= tcc.titulo %></td>
        <td><%= tcc.periodo %></td>
        <td><%= link_to 'Show', tcc %></td>
        <td><%= link_to 'Edit', edit_tcc_path(tcc) %></td>
        <td><%= link_to 'Destroy', tcc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tcc', new_tcc_path %>
