<div class="row">
  <div class="col-xs-12" style="margin-top:5em">

    <% if ! notice.blank? %>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong id="notice"><%= notice %></strong>
      </div>
    <% end %>
    
    <div class="panel panel-default">
      <div class="panel-heading" style="padding: .1em 3em">
        <h2>TCC - <strong> <%= @tcc.titulo %></strong></h2>
      </div>
      <div class="panel-body" style="padding: .5em 3em">

        <div class="col-md-6">
          Aluno:<h4><strong> <%= @tcc.proposta_tcc.aluno.usuario.nome %></strong></h4>
        </div>

        <div class="col-md-6">
          Data de Apresentacao da Proposta:<h4><strong> <%= @tcc.proposta_tcc.dataApresentacao.strftime('%d/%m/%Y') %></strong></h4>
        </div><br/>

        <div class="col-md-6">
          Periodo:<h5><strong> <%= @tcc.periodo %></strong></h5>
        </div>

        <div class="col-md-6">
          Tipo:<h5><strong> <%= @tcc.tipos.upcase %></strong></h5>
        </div><br/>

        <div class="col-md-6">
          Palavras-Chave:
          <h6>
            <strong>
              <% @tcc.palavras.each do |palavra| %>
                 <%= palavra.nome %> |
              <% end -%>
            </strong>
          </h6>
        </div>

        <div class="col-md-6">
          Agendado:
          <h5>
            <strong>
              <% if @tcc.agendad == true %>
                SIM
              <% else %>
                NÃO
              <% end %>
            </strong>
          </h5>
        </div><br/>

      </div>
    </div>
    <div>
      <div>
        <%= link_to tccs_path , class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", title: "Voltar", style: "float:left; margin-right:.5em; text-decoration:none" do %>
          <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true" style="color:black"></span>
        <% end %>
      </div>
        
      <div>
        <% if @tcc.agendad == true %>
          <button id="popover" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-toggle="popover" title="TCC Fechado para Edicao" data-placement="right" data-content="O TCC já foi agendado!"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
          <script>$('#popover').popover()</script>
        <% else %>
          <%= link_to edit_tcc_path(@tcc) , class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored", title: "Editar", style: "float:left; text-decoration:none" do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          <% end %>
        <% end %>
      </div>
        
      <div>
        <%= link_to @tcc.arquivo.url , class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored col-xs-3", style: "float:right; text-decoration:none" do %>Visualizar arquivo TCC
        <% end %>
      </div>
    </div> 
  
  </div>
</div>