<p id="notice"><%= notice %></p>

<h1>Meu TCC</h1>
<div   typeof="ugw:TCC" about=<%=tcc_path(@tcc)%> >

<p>

  <strong>Titulo:</strong>
  <%= rdfa_title @tcc.titulo %>
</p>

<p>
  <strong>Periodo:</strong>
  <%= rdfa_ov_semester @tcc.periodo %>
</p>



<p>
  <strong>Tipos:</strong>
  <span
      <% if @tcc.tipos == 'pesquisa' %>
      resource="ugw:Pesquisa"
     <% end %>
    <% if @tcc.tipos == 'trabalho' %>
      resource="ugw:Trabalho"
     <% end %>
    <% if @tcc.tipos == 'estagio' %>
      resource="ugw:Estagio"
    <% end %>
    <% if @tcc.tipos == 'extensao' %>
      resource="ugw:Extensao"
     <% end %>
      property="ugw:temTipo" > <%=@tcc.tipos%></span>
</p>
<p>
  <strong>Palavras-Chaves:</strong>
  <% @tcc.palavras.each do |palavra| %>
     <%= rdfa_dcat_keyword palavra.nome %> |
  <% end -%>
</p>
<p>
  <strong>Agendado:</strong>
  <%= rdfa_ugw_propostaaprovada @tcc.agendad %>
</p>
<p>
  <strong>Nota:</strong>
  <%= rdfa_dbo_grades @tcc.nota %>
</p>

<%= link_to 'Voltar', tccs_path %> |
<%= link_to 'Atualizar', edit_tcc_path(@tcc) %> |
<%= rdfa_link_to_dbo_fileurl 'Visualizar arquivo TCC', @tcc.arquivo.url %>
</div>
