<p id="notice"><%= notice %></p>

<h1>Agenda Bancas</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agenda_bancas.each do |agenda_banca| %>
      <tr>
        <td><%= agenda_banca.data %></td>
        <td><%= agenda_banca.hora %></td>
        <td><%= link_to 'Show', agenda_banca %></td>
        <td><%= link_to 'Edit', edit_agenda_banca_path(agenda_banca) %></td>
        <td><%= link_to 'Destroy', agenda_banca, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agenda Banca', new_agenda_banca_path %>
