<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @agenda_banca.data %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @agenda_banca.hora %>
</p>

<%= link_to 'Edit', edit_agenda_banca_path(@agenda_banca) %> |
<%= link_to 'Back', agenda_bancas_path %>
