<%= form_for (aluno) do |f| %>
  <% if aluno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aluno.errors.count, "error") %> prohibited this aluno from being saved:</h2>

      <ul>
      <% aluno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= fields_for (:usuario) do |u| %>
    <div class="field">
      <%= u.label :email %>
      <%= u.text_field :email %>
    </div>
    <div class="field">
      <%= u.label :nome %>
      <%= u.text_field :nome %>
    </div>
    <div class="field">
      <%= u.label :sexo %>
      <%= u.text_field :sexo %>
    </div>

  <% end %>

  <div class="field">
    <%= f.label :matricula %>
    <%= f.text_field :matricula %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar" %>
  </div>
<% end %>
