<p id="notice"><%= notice %></p>

<h1>
  Alunos
  <%= link_to 'Cadastrar Aluno', new_aluno_path, :class => "btn btn-sm btn-success pull-right" %>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Matrícula</th>
      <th>Nome</th>
      <th>E-mail</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alunos.each do |aluno| %>
      <tr>
        <td><%= aluno.matricula %></td>
        <td><%= aluno.usuario.nome %></td>
        <td><%= aluno.usuario.email %></td>
        <td>
          <div class="btn-group pull-right">
            <%= link_to 'Mostrar', aluno, :class => "btn btn-sm btn-primary" %>
            <%= link_to 'Editar', edit_aluno_path(aluno), :class => "btn btn-sm btn-primary" %>
            <%= link_to 'Excluir', aluno, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, :class => "btn btn-sm btn-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

