<p id="notice"><%= notice %></p>

<h1>
  Alunos
  <%= link_to 'Cadastrar Aluno', new_aluno_path, :class => "btn btn-sm btn-success pull-right" %>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Matrícula</th>
      <th>Nome</th>
      <th>E-mail</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alunos.each do |aluno| %>
      <tr>
        <td><%= aluno.matricula %></td>
        <td><%= aluno.usuario.nome %></td>
        <td><%= aluno.usuario.email %></td>
        <td>
          <div class="btn-group pull-right">
            <%= link_to 'Mostrar', aluno, :class => "btn btn-sm btn-primary" %>
            <%= link_to 'Editar', edit_aluno_path(aluno), :class => "btn btn-sm btn-primary" %>
            <%= link_to 'Excluir', aluno, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, :class => "btn btn-sm btn-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @alunos %>
        <script>
          $(document).ready(function () {
            $('.pagination .previous_page').text('«');
            $('.pagination .next_page').text('»');

            $('.pagination').each(function () {
              var $bar = $(this);
              $bar.find('a, .current, span').wrapAll('<ul>');
              $bar.find('a, .current, span').wrap('<li>');

              $bar.find('em').each(function () {
                $(this).parent().addClass('active');
                $(this).replaceWith('<a href="#">' + $(this).text() + '</a>');
              });
            });
            $(".pagination ul").addClass('pagination');
            $(".pagination ul li").css("color","black");
            $(".pagination").replaceWith("<nav aria-label='Page navigation'>" + $('.pagination').html() + "</nav>");
          });
        </script>
<br>

