<%= form_for(plano_atividade) do |f| %>
  <% if plano_atividade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plano_atividade.errors.count, "error") %> prohibited this plano_atividade from being saved:</h2>

      <ul>
      <% plano_atividade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group row">
    <div class="col-md-4">
      <label for="">Data de Entrega</label>
      <%= f.date_field :dataEntrega , :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4">
      <%= f.label :aprovacao %><br>
      <label> 
        <%= label_tag(:aprovacao_true, "Sim") %>
        <%= radio_button_tag(:aprovacao, true) %>
      </label>
      <label>
        <%= label_tag(:aprovacao_false, "Não") %>
        <%= radio_button_tag(:aprovacao, false) %>
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4">
      <label for="">TCC</label>
      <%= f.select(:tcc_id, Tcc.all.collect {|p| [ p.titulo, p.id ]} , { include_blank: 'Selecione um TCC' }, { :class => 'form-control'} ) %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", :class => 'btn btn-success'  %>
  </div>
<% end %>
