<p id="notice"><%= notice %></p>

<p>
  <strong>Título Tcc:</strong>
  <%= @plano_atividade.tcc.titulo %>
</p>
<p>
  <strong>Data da Entrega:</strong>
  <%= @plano_atividade.dataEntrega %>
</p>
<p>
  <strong>Aprovação:</strong>
  <%= @plano_atividade.aprovacao %>
</p>

<%= link_to 'Editar', edit_plano_atividade_path(@plano_atividade) %> |
<%= link_to 'Voltar', plano_atividades_path %>
