<p id="notice"><%= notice %></p>
<div typeof="ugw:PlanoAtividade" about=<%=plano_atividades_path(@plano_atividade) %>>
<p resource=<%=plano_atividades_path(@plano_atividade)%> property="ugw:temPlanoAtividades" about=<%=tcc_path(@plano_atividade.tcc)%>>
  <strong>Título Tcc:</strong>
  <%= rdfa_title @plano_atividade.tcc.titulo %>
</p>
<p>
  <strong>Data da Entrega:</strong>
  <%= rdfa_dbo_releasedate @plano_atividade.dataEntrega %>
</p>
<p>
  <strong>Aprovação:</strong>
  <%= @plano_atividade.aprovacao %>
</p>

<%= link_to 'Editar', edit_plano_atividade_path(@plano_atividade) %> |
<%= link_to 'Voltar', plano_atividades_path %>
<div>
