<% provide(:title, "Log in") %>

<h1>Login</h1>
<%= flash_message %>
<%= form_for(:session, url: login_path) do |f| %>
<%= f.label :email %>
<%= f.email_field :email %>
<%= f.label :password %>
<%= f.password_field :password %><br>
<%= f.submit "acessar" %>

<%end%>
