<% provide(:title, "Log in") %>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
		<h1>Login</h1>
		<%= flash_message %>
		<%= form_for(:session, url: login_path) do |f| %>
		<%= f.label :email %>
		<%= f.email_field :email , :class => 'form-control' %>
		<%= f.label :password %>
		<%= f.password_field :password , :class => 'form-control' %><br>
		<%= f.submit "Acessar" , :class => 'btn btn-primary' %>
    </div>
</div>

<%end%>
