<%= form_for(proposta_tcc) do |f| %>
  <% if proposta_tcc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proposta_tcc.errors.count, "error") %> prohibited this proposta_tcc from being saved:</h2>

      <ul>
      <% proposta_tcc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group row">
    <div class="col-md-4">
      <label for="">Data de Apresentação</label>
      <%= f.date_field :dataApresentacao , :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4">
      <%= f.label :aprovacao %><br>
      <label>
        <%= label_tag(:aprovacao_true, "Sim") %>
        <%= radio_button_tag(:aprovacao, true) %>
      </label>
      <label>
        <%= label_tag(:aprovacao_false, "Não") %>
        <%= radio_button_tag(:aprovacao, false) %>
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4">
      <label for="">Aluno</label>
      <%= f.select(:aluno_id, Aluno.all.collect {|p| [ p.usuario.nome, p.id ]} , { include_blank: 'Selecione um Aluno' }, { :class => 'form-control'} ) %>
    </div>
  </div>


  <div class="field">

    <%= f.label :arquivo %>
    <small style="color: red"> (Só serão permitidos arquivos pdf's)</small>
    <%= f.file_field :arquivo , :class => 'form-control' %>
</div>



  <div class="actions">
    <%= f.submit "Salvar", :class => 'btn btn-success'  %>
  </div>
  </div>
  <% end %>
