<p id="notice"><%= notice %></p>

<h1>Proposta Tccs</h1>

<%= link_to 'Cadastrar Proposta Tcc', new_proposta_tcc_path ,:class => "btn btn-sm btn-success pull-right"%>


<table class="table">
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Data de Apresentaçao</th>
      <th>Aprovação</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proposta_tccs.each do |proposta_tcc| %>
      <tr>
        <td><%= proposta_tcc.aluno.usuario.nome%></td>
        <td><%= proposta_tcc.dataApresentacao.strftime('%d/%m/%Y') %></td>
        <td>
          <% if proposta_tcc.aprovacao %>
            Sim
          <% else %>
            Não
          <% end %>
        </td>
      <td>
        <div class="btn-group pull-right">
            <%= link_to 'Show', proposta_tcc, :class => "btn btn-sm btn-primary"%>
            <%= link_to 'Edit', edit_proposta_tcc_path(proposta_tcc), :class => "btn btn-sm btn-primary" %>
            <%= link_to 'Destroy', proposta_tcc, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-danger" %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @proposta_tcc%>
<br>
