<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @proposta_tcc.tcc.titulo %>
</p>

<p>
  <strong>Data:</strong>
  <%= @proposta_tcc.dataApresentacao %>
</p>

<%= link_to 'Edit', edit_proposta_tcc_path(@proposta_tcc) %> |
<%= link_to 'Back', proposta_tccs_path %>
