<p id="notice"><%= notice %></p>

<h1>Proposta</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Tipotcc</th>
      <th>Orientador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proposta.each do |propostum| %>
      <tr>
        <td><%= propostum.titulo %></td>
        <td><%= propostum.tipoTcc %></td>
        <td><%= propostum.orientador %></td>
        <td><%= link_to 'Show', propostum %></td>
        <td><%= link_to 'Edit', edit_propostum_path(propostum) %></td>
        <td><%= link_to 'Destroy', propostum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Propostum', new_propostum_path %>
