<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @propostum.titulo %>
</p>

<p>
  <strong>Tipotcc:</strong>
  <%= @propostum.tipoTcc %>
</p>

<p>
  <strong>Orientador:</strong>
  <%= @propostum.orientador %>
</p>

<%= link_to 'Edit', edit_propostum_path(@propostum) %> |
<%= link_to 'Back', proposta_path %>
