<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @tcc.titulo %>
</p>

<p>
  <strong>Periodo:</strong>
  <%= @tcc.periodo %>
</p>

<%= link_to 'Edit', edit_tcc_path(@tcc) %> |
<%= link_to 'Back', tccs_path %>
