<div class="row">
  <div class="col-xs-12 col-md-offset-/" style="top:10em">

    <p id="notice"><%= notice %></p>

    <h3>Ola <%=@tipo%> <%=@usuario.nome%> </h3>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3"><%=@tipo%>(a) <strong><%=@usuario.nome%></strong></span>
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" disabled>
      <span class="input-group-addon" id="basic-addon3">Email:<strong><%= @usuario.email %></strong></span>
    </div><br/>

    <div class="panel text-center panel-default">
      <div class="panel-header">
        <h2>Atas de defesa</h2>
      </div>

      <div class="panel-body col-md-offset-0 text-left">
        <% if @usuario.user.instance_of? Professor %>
          <% if !@usuario.user.tccs.nil? %>
            <table id= "tccs" class="table">
              <thead>
                <tr>
                  <th>Titulo</th>
                  <th>Periodo</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @usuario.user.tccs.each do |tcc| %>
                <tr>
                    <td ><%= tcc.titulo %></td>
                    <td ><%= tcc.periodo %></td>
                  <% if tcc.agendad == true && tcc.banca.ata_defesa.nil? %>
                    <td><%= link_to 'Gerar ata de defesa', controller: "ata_defesas", action: "new", tcc: tcc.id %></td>
                  <%end%>
                  <% if !tcc.banca.ata_defesa.nil? %>
                    <td><%= link_to 'Editar ata de defesa', controller: "ata_defesas", action: "edit", tcc: tcc.id %></td>
                  <%end%>
                  <% if !tcc.banca.ata_defesa.nil? %>
                    <td>
                      <%= link_to 'Apagar', {controller: "ata_defesas",  action: "destroy", tcc: tcc.id, }, :method => :delete, data: { confirm: 'Tem certeza que deseja excluir a ata?' } %></td>
                    <td><%= link_to "Visualizar ata de defesa PDF",  ata_defesa_download_path(tcc.banca.ata_defesa, format: "pdf"),  target: "_blank",  class: "download" %></td>
                    <td><%= link_to 'Visualizar arquivo ata defesa', tcc.banca.ata_defesa.arquivo.url %></td>
                  <%end%>
                </tr>
                <% end %>
              </tbody>
            </table>
          <%end%>
        <%end%>
      </div>

    </div>
    <div>
      <%= link_to "Consultar TCCs", consulta_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored col-xs-2", style: "float:right; text-decoration:none" %>
    </div>