
<% if !tccs.nil? %>
<table id= "tccs">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Periodo</th>
      <th>Aluno</th>
      <th>Orientador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% tccs.each do |tcc| %>
      <tr>
        <td > <%= tcc.titulo %></td>
        <td ><%= tcc.periodo %></td>
        <td ><%= tcc.proposta_tcc.aluno.usuario.nome %></td>
        <td ><%= tcc.professor.usuario.nome %></td>
        <td ><%=link_to "Expandir", tcc  %></td>
      </tr>
    <%end%>
  </tbody>
</table>
<% end %>
