<h1>Consultar TCC</h1>
<p id="notice"><%= notice %></p>

<%= form_tag("/consulta", method:"post", remote: true ) do %>

<%= label_tag(:professor, "Professor") %>
  <%= text_field_tag(:professor) %>

<%= label_tag(:semestre, "Semestre") %>
  <%= text_field_tag(:semestre) %>

<%= label_tag(:palavra, "Palavra Chave") %>
    <%= text_field_tag(:palavra) %>

<%= submit_tag("Consultar") %>


<% end %>
<br/><br/>
<div id="results">

</div>


<%=link_to "Voltar", current_user  %>
